body {
    background: #2f2f2f;
    margin: 0;
    padding: 0;
}
.developer-site {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-family: monospace;
    font-size: large;
    font-weight: 0;
    color: #575757;

}
.developer-site a {
    color: #5e5e5e;
    transition: 0.2s;
}
.developer-site a:hover {
    color: #a2a2a2;
}

.author-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3% 13% 0 13%;
}
.author-info {
    background-color: #595858;
    margin:  0 0 3px 0px;
}
.author-block-2 {
    display: flex;
    flex-direction: row;
}
.author-img {
    display: inline-block;
    margin: 0 5px 0 0;
    flex: 1 1 max-content;
    background-color: #595858;
}
.author-buttons {
    display: flex;
    flex: 1 1 max-content;
    font-family: monospace;
    background-color: #595858;
    gap: 5px;
    margin: 0;
    padding: 0;
}
.author-buttons p {
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #212121;
    border: 1px solid #ff5a91;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-buttons p:hover {
    flex: 4;
}

.author-buttons p span {
    min-width: 14em;
    padding: 0;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #ff568e;
    letter-spacing: .1em;
}

.author-buttons p:hover span {
    transform: rotate(0);
}
.btns {
    margin: 50px 40%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;

}
.btn {
    display: block;
    padding: 0.7em 1em;
    background: transparent;
    outline: none;
    border: 0;
    color: #db5856;
    letter-spacing: 0.1em;
    font-family: monospace;
    font-size: 17px;
    font-weight: bold;
    z-index: 1;
}
.cubeBtn {
    position: relative;
    transition: all 0.5s;
}

.cubeBtn .bg-top {
    position: absolute;
    height: 10px;
    background: #db5856;
    bottom: 100%;
    left: 5px;
    right: -5px;
    transform: skew(-45deg, 0);
    margin: 0;
    transition: all 0.4s;
}

.cubeBtn .bg-top .bg-inner {
    bottom: 0;
}

.cubeBtn .bg {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: #db5856;
    transition: all 0.4s;
}

.cubeBtn .bg-right {
    position: absolute;
    background: #db5856;
    top: -5px;
    z-index: 0;
    bottom: 5px;
    width: 10px;
    left: 100%;
    transform: skew(0, -45deg);
    transition: all 0.4s;
}

.cubeBtn .bg-right .bg-inner {
    left: 0;
}

.cubeBtn .bg-inner {
    background: #28282d;
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
}

.cubeBtn .text {
    position: relative;
    transition: all 0.4s;
}

.cubeBtn:hover .bg-inner {
    background: #db5856;
    transition: all 0.4s;
}

.cubeBtn:hover .text {
    color: #28282d;
    transition: all 0.4s;
}

.cubeBtn:hover .bg-right,
.cubeBtn:hover .bg,
.cubeBtn:hover .bg-top {
    background: #28282d;
}

.cubeBtn:active {
    z-index: 9999;
    animation: bounce .1s linear;
}

@keyframes bounce {
    50% {
        transform: scale(0.9);
    }
}
/* загрузочный экран */
.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #2f2f2f;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}
.cube {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    //animation: spin 20s infinite linear;
    transform: rotateX(150deg) rotateY(150deg);
}
.right {
    transform: translateZ(0px) rotateZ(180deg);

}

.left {
    transform: rotateY(90deg);

}

.up {
    transform: rotateX(90deg) translateZ(0px);

}

.side {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0.8;
}
@keyframes spin {
    0% {
        transform: rotateX(150deg) rotateY(150deg);
    }
    50% {
        transform: rotateX(-150deg) rotateY(-150deg);
    }
    100% {
        transform: rotateX(150deg) rotateY(150deg);
    }
}
.loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate023845 3s linear infinite;
}


.loader .face {
    width: 100%;
    height: 100%;
    color: #ff0000;
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0em 0em;
    --deg: -45deg;
    animation-direction: normal;
}
.loader .face .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
}

.loader .face .circle::before {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    content: '';
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2em,
    0 0 4em,
    0 0 6em,
    0 0 8em,
    0 0 10em,
    0 0 0 0.5em rgba(255, 0, 0, 0.1);
}

@keyframes animate023845 {
    to {
        transform: rotate(3turn);
    }
}
.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background:  #2f2f2f;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
}
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}